%li
  = link_to locality.name, locality_spots_path(locality)
  - admin_section do
    = link_to t(:edit), edit_object_url(locality)
    = link_to t(:destroy), object_url(locality), :confirm => 'Are you sure?', :method => :delete
