%h1 New locality

= error_messages_for :locality

- form_for(:locality, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url