- if payment.image?
  %li.icon= image_tag payment.icon
- else
  %li.noicon
    - if payment.name == 'gotovina'
      - if current_locale == 'de'
        Bargeld
      - elsif current_locale == 'en'
        cash
      - elsif current_locale == 'it'
        contante
      - else
        = payment
      