%p You can search by:
%ul
  %li 
    Name of the Inn, Hotel or any spot
    %em eg. Gostilna Miran, Hotel Orel
  %li 
    Address
    %em eg. Miklošičeva, Partizanska
  %li 
    Place or City
    %em eg. Ljubljana, Maribor