- javascripts "livesearch.js"
= title t(:search)

- form_tag search_path do
  = text_field_tag :terms, params[:terms]

#no_results{:style => "display: none;"}
  %h2 Ni rezultatov
  %p Vaše iskanje ni obrodilo nobenih rezultatov. Poizkusite znova z drugimi ključnimi besedami.
  %p Iščete lahko po:
  %ul
    %li Imenu gostilne, hotela, lokala
    %li Naslovu
    %li Kraju
