%p
  %strong Name:
  =h @spot.name
%p
  %strong Type:
  =h @spot.type_id
%p
  %strong Name websafe:
  =h @spot.name_websafe
%p
  %strong Category:
  =h @spot.category
%p
  %strong Large post:
  =h @spot.large_post.name
%p
  %strong Post:
  =h @spot.post.name
%p
  %strong Locality:
  =h @spot.locality.name
%p
  %strong Naslov:
  =h @spot.full_address
%p
  %strong Phone:
  =h @spot.phone
%p
  %strong Fax:
  =h @spot.fax
%p
  %strong Mobile:
  =h @spot.mobile
%p
  %strong Email:
  =h @spot.email
%p
  %strong Website:
  =h @spot.website
%p
  %strong Cuisine:
  =h @spot.cuisine_id
%p
  %strong Has garden:
  =h @spot.has_garden
%p
  %strong Has homebread:
  =h @spot.has_homebread
%p
  %strong Has rooms:
  =h @spot.has_rooms
%p
  %strong Number of 1 rooms:
  =h @spot.number_of_1_rooms
%p
  %strong Number of 2 rooms:
  =h @spot.number_of_2_rooms
%p
  %strong Number of 3 rooms:
  =h @spot.number_of_3_rooms
%p
  %strong Number of 4 rooms:
  =h @spot.number_of_4_rooms
%p
  %strong Number of appartments:
  =h @spot.number_of_appartments
%p
  %strong Number of disabled rooms:
  =h @spot.number_of_disabled_rooms
%p
  %strong Number of executive rooms:
  =h @spot.number_of_executive_rooms

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url