%h1 Listing cuisines

%table
  %tr
    %th Name
  - @cuisines.each do |cuisine|
    %tr
      %td= h cuisine.name
        
      %td= link_to 'Show', object_url(cuisine)
      %td= link_to 'Edit', edit_object_url(cuisine)
      %td= link_to 'Destroy', object_url(cuisine), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New cuisine', new_object_url