#content {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px; }
  #content li {
    list-style: none; }
  #content a {
    text-decoration: none;
    color: #21354D; }
    #content a:hover {
      text-decoration: underline; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-family: Tahoma, sans-serif; }
  #content h1 {
    margin-bottom: 20px;
    font-size: 24px; }
  #content h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px; }
  #content h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px; }
  #content h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px; }

#flash {
  border: 3px solid #000;
  background: #efefef;
  padding: 5px;
  margin-bottom: 20px; }
  #flash.error {
    border-color: #ff0000;
    background: #FDD6D3; }
  #flash.notice {
    border-color: #419C1E;
    background: #DFFFD2; }

#admin {
  position: fixed;
  z-index: 9999;
  top: 0px;
  right: 0px;
  width: 30%;
  height: 20px;
  background: #000;
  color: #fff;
  font: normal 12px/20px Helvetica, sans-serif;
  padding: 10px; }
  #admin:hover {
    background: #222; }
  #admin a {
    color: #FFC200; }
  #admin .user {
    float: left; }
  #admin .flash {
    float: right;
    color: #ccc;
    margin-right: 30px; }

.admin {
  display: table;
  color: #fff; }
  table .admin {
    margin: 0; }
  .admin a {
    color: #fff !important;
    text-decoration: none;
    background: #ff0000;
    padding: 2.5px 5px;
    font-size: 11px;
    font-weight: bold;
    margin: 0 2.5px 0 2.5px; }
    .admin a:hover {
      background: #BB232A; }
  h2 .admin {
    display: inline; }
  #content>.admin {
    position: absolute;
    top: 5px;
    right: 5px; }

#backdoor a {
  position: fixed;
  top: 0px;
  right: 0px;
  background: transparent;
  width: 20px;
  height: 20px;
  text-decoration: none; }
  #backdoor a span {
    display: none; }
  #backdoor a:hover {
    background: #953735; }

form.nice {
  padding: 10px 0; }
  form.nice label {
    display: block;
    font-weight: bold; }
  form.nice p {
    margin: 4px 0;
    padding: 4px 0; }
  form.nice textarea {
    width: 99%;
    height: 200px; }
    form.nice textarea.gui, .big form.nice textarea {
      height: 500px; }
  form.nice p.submit {
    margin-top: 10px;
    background: #fff url("../images/submit_bkg.png") repeat-y;
    padding: 20px; }
  form.nice input.small {
    width: 25px; }
  form.nice ul li {
    list-style: inside square; }

#head {
  background: #006493 url(../images/head/symbols.png) no-repeat 680px 180px;
  position: relative; }
  #head #languages {
    height: 50px;
    padding-left: 20px;
    background: #5685C2;
    border-bottom: 2px solid #fff;
    line-height: 50px;
    color: #fff;
    font-size: 12px; }
    #head #languages .text {
      float: left; }
    #head #languages a {
      display: block;
      float: left;
      width: 30px;
      height: 50px; }
      #head #languages a.sl {
        background: url(../images/head/si.png) no-repeat 50% 50%; }
      #head #languages a.en {
        background: url(../images/head/gb.png) no-repeat 50% 50%; }
      #head #languages a.it {
        background: url(../images/head/it.png) no-repeat 50% 50%; }
      #head #languages a.de {
        background: url(../images/head/de.png) no-repeat 50% 50%; }
      #head #languages a.sl.active {
        background: url(../images/head/si_active.png) no-repeat 50% 50%; }
      #head #languages a.en.active {
        background: url(../images/head/gb_active.png) no-repeat 50% 50%; }
      #head #languages a.it.active {
        background: url(../images/head/it_active.png) no-repeat 50% 50%; }
      #head #languages a.de.active {
        background: url(../images/head/de_active.png) no-repeat 50% 50%; }
      #head #languages a span {
        display: none; }
  #head h1 {
    height: 175px;
    width: 800px; }
    #head h1 a {
      height: 175px;
      width: 800px;
      position: absolute;
      display: block;
      background: url(../images/head/dobregostilne.png) no-repeat 20px 30px; }
      #head h1 a span {
        display: none; }
  #head h2 {
    width: 35%;
    color: #B2E5FE;
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 16px;
    margin-top: -80px;
    padding: 20px; }

#menu {
  background: #333; }
  #menu ul {
    margin-left: 8px; }
    #menu ul li {
      list-style: none; }
      #menu ul li.clear {
        clear: both; }
      #menu ul li a {
        background: #333;
        display: block;
        float: left;
        padding: 20px 40px 10px 12px;
        text-decoration: none;
        color: #fff;
        font: bold 15px/15px "Trebuchet MS", sans-serif;
        border-right: 1px solid #fff; }
        #menu ul li a:hover {
          background: #BCCEE8;
          color: #000; }
      #menu ul li.last a {
        border: 0; }

#content {
  position: relative;
  clear: both;
  padding: 20px; }
  #content #map {
    clear: both;
    width: 100%;
    height: 300px; }

#foot {
  margin: 0 auto;
  padding: 20px;
  width: 800px;
  clear: both;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-align: center; }

.localities#localities-index #content ul {
  margin-top: 20px; }
  .localities#localities-index #content ul li {
    width: 32%;
    float: left; }
    .localities#localities-index #content ul li>a {
      display: block;
      background: #eee;
      padding: 10px;
      margin: 0 10px 10px 0;
      font-size: 16px; }

.spots#spots-index ul.all {
  margin-top: 20px;
  margin-left: -10px; }
  .spots#spots-index ul.all li {
    float: left;
    width: 236px;
    height: 50px;
    background: #efefef;
    margin: 0 0 10px 10px;
    padding: 5px; }
    .spots#spots-index ul.all li h3 {
      font-size: 12px;
      width: 170px;
      float: left;
      margin-left: 10px; }
    .spots#spots-index ul.all li img {
      display: block;
      float: left; }
.spots#spots-index #map {
  height: 400px; }
.spots#spots-search #content {
  min-height: 450px; }
  .spots#spots-search #content #no_results h2 {
    margin-bottom: 10px; }
  .spots#spots-search #content #no_results h3 {
    color: #444;
    margin-bottom: 10px; }
  .spots#spots-search #content form .field {
    position: relative; }
    .spots#spots-search #content form .field img {
      display: block;
      position: absolute;
      top: 9px;
      left: 250px;
      z-index: 999; }
    .spots#spots-search #content form .field input {
      height: 20px;
      width: 260px;
      font-size: 18px;
      padding: 5px; }
  .spots#spots-search #content form #search_notice {
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px; }
  .spots#spots-search #content #search_instruction ul {
    margin-top: 5px; }
    .spots#spots-search #content #search_instruction ul li {
      font-weight: bold; }
      .spots#spots-search #content #search_instruction ul li em {
        font-weight: normal;
        color: #333;
        display: block;
        padding-left: 20px; }
  .spots#spots-search #content #no_results {
    width: 40%;
    margin-bottom: 25px; }
    .spots#spots-search #content #no_results p {
      margin: 5px 0; }
    .spots#spots-search #content #no_results ul li {
      list-style: square inside; }
  .spots#spots-search #content ul#spots_list {
    width: 40%;
    float: left;
    margin-top: 20px; }
    .spots#spots-search #content ul#spots_list li {
      clear: both;
      height: 20px;
      padding: 2.5px;
      line-height: 20px; }
      .spots#spots-search #content ul#spots_list li .letter {
        width: 20px;
        height: 20px;
        font-family: Arial, sans-serif;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        background: url(../images/circleMarker.png) no-repeat;
        float: left; }
      .spots#spots-search #content ul#spots_list li .spot {
        float: left;
        margin-left: 10px;
        width: 230px; }
  .spots#spots-search #content #map {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 450px;
    width: 55%; }
.spots#spots-show #content h1, .spots#spots-show #content h2 {
  width: 400px;
  margin-bottom: 0; }
.spots#spots-show #content h2 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #666; }
.spots#spots-show #content div {
  margin: 20px 0; }
  .spots#spots-show #content div p {
    margin: 3px 0; }
.spots#spots-show #content .contact {
  width: 350px;
  padding: 5px;
  background: #eee; }
.spots#spots-show #content .side {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 320px;
  text-align: right; }
  .spots#spots-show #content .side div {
    margin: 0; }
  .spots#spots-show #content .side .images>.admin {
    z-index: 999;
    position: absolute;
    display: block;
    top: 5px;
    right: 1px; }
  .spots#spots-show #content .side .images .first {
    position: relative;
    float: right;
    width: 315px;
    max-height: 240px;
    overflow: hidden; }
    .spots#spots-show #content .side .images .first .image {
      float: right; }
    .spots#spots-show #content .side .images .first .admin {
      position: absolute;
      bottom: 4px;
      right: 0; }
  .spots#spots-show #content .side .images .small_image {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-left: 5px; }
    .spots#spots-show #content .side .images .small_image .admin {
      position: absolute;
      bottom: 7px;
      right: 0px; }
.spots#spots-show #content .other_data {
  width: 60%; }
.spots#spots-show #content .description, .spots#spots-show #content .wellness, .spots#spots-show #content .extra, .spots#spots-show #content .equipment, .spots#spots-show #content .culinary, .spots#spots-show #content .location, .spots#spots-show #content .hour_data {
  width: 410px; }
.spots#spots-show #content .payments {
  clear: both;
  padding-top: 20px; }
  .spots#spots-show #content .payments h3 {
    margin: 10px 0; }
  .spots#spots-show #content .payments ul li.icon {
    float: right;
    padding-left: 10px; }
  .spots#spots-show #content .payments ul li.noicon {
    clear: both; }
.spots#spots-show #content .rooms {
  clear: both;
  padding-top: 20px; }
  .spots#spots-show #content .rooms table {
    text-align: left;
    float: right; }
    .spots#spots-show #content .rooms table thead tr th {
      text-align: left;
      color: #666;
      padding: 5px;
      padding-left: 0;
      border-bottom: 1px solid #999; }
    .spots#spots-show #content .rooms table tbody tr td {
      border-bottom: 1px solid #ccc;
      padding: 5px;
      padding-left: 0;
      padding-right: 15px; }
.spots#spots-show #content .nearby {
  clear: both;
  padding-top: 20px; }
.spots#spots-show #map, .spots#spots-show #map div {
  margin: 0;
  clear: both; }
.spots#spots-show #map {
  height: 400px; }
.spots #map h4 {
  margin: 0 0 5px 0; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif; }
  body #wrap {
    margin: 0 auto;
    background: #fff;
    width: 800px; }
    body #wrap>br, body #wrap br.clear {
      clear: both;
      display: block; }
    body #wrap .checker {
      border: 2px solid #953735;
      background: #efefef;
      padding: 10px;
      display: table; }
