#content {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px; }
  #content li {
    list-style: none; }
  #content a {
    text-decoration: none;
    color: #21354D; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-family: Tahoma, sans-serif; }
  #content h1 {
    font-size: 24px; }
  #content h2 {
    font-size: 20px; }
  #content h3 {
    font-size: 16px; }
  #content h4 {
    font-size: 14px; }

#admin {
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  background: #000;
  color: #fff;
  font: normal 12px/20px Helvetica, sans-serif;
  padding: 10px; }
  #admin:hover {
    background: #222; }
  #admin a {
    color: #FFC200; }
  #admin .user {
    float: left; }
  #admin .flash {
    float: right;
    color: #ccc;
    margin-right: 30px; }

.admin {
  display: table;
  color: #fff; }
  table .admin {
    margin: 0; }
  .admin a {
    color: #fff !important;
    text-decoration: none;
    background: #ff0000;
    padding: 2.5px 5px;
    font-size: 11px;
    font-weight: bold;
    margin: 0 2.5px 0 2.5px; }
    .admin a:hover {
      background: #BB232A; }
  h2 .admin {
    display: inline; }
  #content>.admin {
    position: absolute;
    top: 5px;
    right: 5px; }

#backdoor a {
  position: fixed;
  top: 0px;
  right: 0px;
  background: transparent;
  width: 20px;
  height: 20px;
  text-decoration: none; }
  #backdoor a:hover {
    background: #953735; }

#admins-index table thead tr th {
  color: #ccc;
  text-align: left;
  padding: 5px; }
#admins-index table tbody tr td {
  border-bottom: 1px dotted #ccc;
  padding: 1px 5px;
  vertical-align: middle; }
  #admins-index table tbody tr td.name {
    font-weight: bold; }
  #admins-index table tbody tr td.notes {
    font-size: 10px;
    line-height: 12px; }
  #admins-index table tbody tr td.button, #admins-index table tbody tr td .admin {
    margin: 0;
    padding: 0; }
  #admins-index table tbody tr td a {
    color: #000;
    font-weight: bold; }

form.nice {
  padding: 10px 0; }
  form.nice label {
    display: block;
    font-weight: bold; }
  form.nice p {
    margin: 4px 0;
    padding: 4px 0; }
  form.nice textarea {
    width: 99%;
    height: 200px; }
    form.nice textarea.gui, .big form.nice textarea {
      height: 500px; }
  form.nice p.submit {
    margin-top: 10px;
    background: #fff url("../images/submit_bkg.png") repeat-y;
    padding: 20px; }
  form.nice input.small {
    width: 25px; }
  form.nice ul li {
    list-style: inside square; }

#head {
  background: #006493 url(../images/head/symbols.png) no-repeat 680px 180px;
  position: relative; }
  #head #languages {
    height: 50px;
    padding-left: 20px;
    background: #5685C2;
    border-bottom: 2px solid #fff;
    line-height: 50px;
    color: #fff;
    font-size: 12px; }
    #head #languages .text {
      float: left; }
    #head #languages a {
      display: block;
      float: left;
      width: 30px;
      height: 50px; }
      #head #languages a.sl {
        background: url(../images/head/si.png) no-repeat 50% 50%; }
      #head #languages a.en {
        background: url(../images/head/gb.png) no-repeat 50% 50%; }
      #head #languages a.it {
        background: url(../images/head/it.png) no-repeat 50% 50%; }
      #head #languages a.de {
        background: url(../images/head/de.png) no-repeat 50% 50%; }
      #head #languages a.sl.active {
        background: url(../images/head/si_active.png) no-repeat 50% 50%; }
      #head #languages a.en.active {
        background: url(../images/head/gb_active.png) no-repeat 50% 50%; }
      #head #languages a.it.active {
        background: url(../images/head/it_active.png) no-repeat 50% 50%; }
      #head #languages a.de.active {
        background: url(../images/head/de_active.png) no-repeat 50% 50%; }
      #head #languages a span {
        display: none; }
  #head h1 {
    height: 175px;
    width: 800px; }
    #head h1 a {
      height: 175px;
      width: 800px;
      position: absolute;
      display: block;
      background: url(../images/head/dobregostilne.png) no-repeat 20px 30px; }
      #head h1 a span {
        display: none; }
  #head h2 {
    width: 40%;
    color: #B2E5FE;
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 16px;
    margin-top: -80px;
    padding: 20px; }

#menu {
  background: #333; }
  #menu ul {
    margin-left: 8px; }
    #menu ul li {
      list-style: none; }
      #menu ul li.clear {
        clear: both; }
      #menu ul li a {
        background: #333;
        display: block;
        float: left;
        padding: 20px 40px 10px 12px;
        text-decoration: none;
        color: #fff;
        font: bold 15px/15px "Trebuchet MS", sans-serif;
        border-right: 1px solid #fff; }
        #menu ul li a:hover {
          background: #BCCEE8;
          color: #000; }
      #menu ul li.last a {
        border: 0; }

#content {
  position: relative;
  font-family: Helvetica, sans-serif;
  clear: both;
  padding: 20px; }
  #content #map {
    clear: both;
    margin-top: 20px;
    width: 100%;
    height: 300px; }

#foot {
  margin: 0 auto;
  padding: 20px;
  width: 800px;
  clear: both;
  font-size: 12px;
  font-weight: bold;
  text-align: center; }

.localities#localities-index #content ul {
  margin-top: 20px; }
  .localities#localities-index #content ul li {
    width: 32%;
    float: left; }
    .localities#localities-index #content ul li>a {
      display: block;
      background: #eee;
      padding: 10px;
      margin: 0 10px 10px 0;
      font-size: 16px; }

.spots#spots-index ul.all {
  margin-top: 20px; }
  .spots#spots-index ul.all li {
    float: left;
    width: 32%;
    margin: 0 10px 10px 0; }
.spots#spots-show .contact {
  float: left;
  width: 250px;
  padding: 5px;
  background: #eee; }
.spots#spots-show .images {
  float: right;
  width: 500px;
  text-align: right; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #eee; }
  body #wrap {
    margin: 0 auto;
    background: #fff;
    width: 800px; }
    body #wrap>br, body #wrap br.clear {
      clear: both; }
    body #wrap .checker {
      border: 2px solid #953735;
      background: #efefef;
      padding: 10px;
      display: table; }
