%h1 New payment

= error_messages_for :payment

- form_for(:payment, :url => collection_url) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Create"

= link_to 'Back', collection_url