%p
  %strong Working hours:
  =h @spot_info.working_hours
%p
  %strong Closed:
  =h @spot_info.closed
%p
  %strong Location description:
  =h @spot_info.location_description
%p
  %strong Speciality:
  =h @spot_info.speciality
%p
  %strong Spoon dishes:
  =h @spot_info.spoon_dishes
%p
  %strong Description:
  =h @spot_info.description
%p
  %strong Wellness description:
  =h @spot_info.wellness_description
%p
  %strong Equipment description:
  =h @spot_info.equipment_description
%p
  %strong Extra description:
  =h @spot_info.extra_description
%p
  %strong Language:
  =h @spot_info.language

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url