.image
  = image_tag image.image.url(:small)
  - admin_section do
    = link_to "Edit", edit_spot_image_path(image.spot, image)
    = link_to "Destroy", spot_image_path(image.spot, image), :method => :delete, :confirm => destroy_confirmation(image)